<div class="profile component">
  <div class="profile__header">
    <img alt="" [src]="( profile | async )?.pictureUrl" />

    <div class="profile--header--meta">
      <h1>{{ ( profile | async )?.name }}</h1>

      <span class="role">{{ ( profile | async )?.role }}</span>
    </div>

    <div class="profile--header--logout">
      <button class="profile--header--logout--button flaticon-sign-out-option" type="button" (click)="logout()">Logout</button>
    </div>
  </div>

  <ul class="profile--stats"
    *ngIf="profileStatsShow"
  >
      <li class="profile--stats--integer" 
        *ngFor="let stat of ( profile | async )?.stats | mapToIterable; let i = index"
        [attr.data-statname]="profileStatsKey(i)"
      >{{stat}}</li>
  </ul>
</div>