<div class="profile component">
  <div class="profile--header">
    <img alt="" [src]="profile.pictureURL" />

    <div class="profile--header--meta">
      <h1>{{profile.username}}</h1>

      <span class="role">{{profile.role}}</span>
    </div>

    <div class="profile--header--logout">
      <button class="profile--header--logout--button" type="button" (onclick)="logout()">Logout</button>
    </div>
  </div>

  <ul class="profile--stats">
      <li class="profile--stats--integer" *ngFor="let stat of profile.stats | mapToIterable; let i = index" [attr.data-statname]="profileStatsKey(i)">{{stat}}</li>
  </ul>
</div>
