<div class="profile component">
  <div class="profile--header">
    <img alt=""  />

    <div class="profile--header--meta">
      <h1>{{ ( profile | async )?.name }}</h1>

      <span class="role">{{ ( profile | async )?.role }}</span>
    </div>

    <div class="profile--header--logout">
      <button class="profile--header--logout--button flaticon-sign-out-option" type="button" (onclick)="logout()">Logout</button>
    </div>
  </div>

  <ul class="profile--stats">
      <li class="profile--stats--integer" ></li>
  </ul>
</div>

<span>{{ profile | async | json }}</span>