.potential {
    width: 100%;
    height: 160px;
    margin-bottom: 8px;
    padding: 14px;
    list-style: none;
}

.potential--extended {
    height: 460px;
}

.potential__side {
    margin-right: 3%;
}

.potential__img-wrapper {
}

.potential__img-wrapper img {
    width: 100%;
    height: auto;
}

.potential__meta {
    height: 48px;
}

.potential__meta__top {
    height: 22px;
}

.post__authortime {
    font-size: 12px;
}

.potential__followers {
    margin: -6px 0 0 0;
    text-align: right;
}

.potential__followers:after {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background: green;
    transform: translateY(4px);
}

.potential__content-wrapper {
}

.potential__tags {
    margin: 0;
    padding: 0;
    list-style: none;
}

.potential__tags li {
    margin: 0 0 4px 0;
    padding: 2px 0 0 0;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.potential__tags li[data-tag="tag-region"] {
    background-color: #169BD5;
}

.potential__tags li[data-tag="tag-state"] {
    background-color: #66A796;
}

.potential__tags li[data-tag="tag-important"] {
    background-color: #CC0033;
}

.potential__content {
    height: 68px;
}

.potential__footer {
    display: flex;
}

.potential__stats {
    display: flex;
    width: 80%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.potential__stats li {
    margin: 0 8px 0 0;
    vertical-align: middle;
}

.potential__stats li:before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 4px;
    background: green;
    transform: translateY(4px);
}

.potential__open {
    width: 74px;
    height: 24px;
    padding: 0;
    background-color: #00a796;
    border: none;
    border-radius: 0;
    color: white;
    line-height: 18px;
    text-align: center;
    text-transform: none;
}

.hide {
    display: none;
}