<li class="potential component"
  [class.potential--extended]="extended"
  
  (mouseenter)="toggleOpen()"
  (mouseleave)="toggleOpen()"
  >
    <aside class="potential__side twohalf columns">
      <div class="potential__img-wrapper">
        <img [src]="potential.lead.pictureUrl" />
      </div>

      <ul class="potential__tags">
        <li data-tag="tag-region">{{potential.regionLong}}</li>
        <li *ngFor="let tag of potential.tags" [attr.data-tag]="'tag-' + tag">{{tag}}</li>
      </ul>
    </aside>
    
    <div class="potential-main ninehalf columns">
      <div class="potential__meta">
        <div class="potential__meta__top">
          <h3 class="nine columns">{{potential.lead.name}}</h3>

          <span class="potential__followers three columns">
            {{potential.lead.followers}}
          </span>
        </div>

        <div class="potential__meta__bottom">
          <p class="post__authortime">
            Published by
            <span>{{potential.author}}</span>
            -
            <span>{{potential.timestamp | date}}</span>
          </p>
        </div>
      </div>

      <div class="potential__content-wrapper">
        <div class="potential__content">
          {{potential.contentBody}}
        </div>

        <img class="potential__content__img" [src]="potential.contentImageUrl"
          *ngIf="extended === true" />
      </div>

      <div class="potential__footer">
        <ul class="potential__stats">
          <li *ngFor="let stat of potential.stats | mapToIterable">{{stat}}</li>
        </ul>

        <button class="potential__open" 
        [class.hide]="!showOpen"
        (click)="openAppeal()"
        >Open</button>
      </div>
    </div>
  </li>