@import url("/css/fonts.css");
@import url("/css/component.css");

.profile {
    width: 100%;
    height: 120px;
    background-color: #fff;
}

.profile--header {
    display: flex;
    width: 92%;
    margin: -8px 4%;
}

.profile--header img {
    width: 30%;
    max-width: 64px;
    height: auto;
    max-height: 64px;
}

.profile--header--meta {
    width: 42%;
    margin: 18px 4% 0;
}

.profile--header--meta h1 {
    margin: 4px 0 0;
    font-size: 18px;
}

.role {
    font-size: 12px;
}

.profile--header--logout {
    width: 0;
    height: 0;
    padding-top: 16px;
}

.profile--header--logout--button {
    width: 80px;
    height: 32px;
    padding-left: 0;
    border: none;
    font: 12px CamptonLight;
    text-transform: none;
}

.profile--stats {
    width: 92%;
    margin: 22px 4% 0;
}

.profile--stats--integer {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    font-size: 18px;
}

.profile--stats--integer:last-child {
    margin: 0 0 0 3%;
}

.profile--stats--integer:before {
    display: block;
    content: attr(data-statname);
    font-size: 12px;
    line-height: 12px;
}